.navigation {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #000080;
  overflow: scroll;
  transition: 0.5s;
}

/* .navigation:hover,
.navigation.active {
  width: 200px;
} */

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  transition: 0.3s;
}

.navigation ul li:hover {
  background: #2b2b8c;
  color: #111;
  width: auto;

}

.navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  height: 60px;
  padding: 2px;
}

.navigation ul li a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 40px;
}

.navigation ul li a .icon .fa,
.navigation ul li a .icon img {
  font-size: 24px;
  border-radius: 50%;
}

/* .navigation ul li a .title {
  display: none;
  margin-left: 10px;
  white-space: nowrap;
} */

/* .navigation:hover ul li a .title {
  display: inline;
  color: #111;
} */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.profile .icon {
  padding: 0;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile .title {
  font-size: 14px;
  margin-top: 10px;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #074848;
  cursor: pointer;
  transition: 0.7s;
}

.toggle::before {
  content: "\f0c9";
  font-family: FontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.toggle.active::before {
  content: "\f00d";
}



@media (max-width: 767px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
    left: 0px;
    width: 100%;
  }
}

.copyright {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 12px;
  top: 0;
  bottom: 0;
  margin-top: 50px;
}

/* Popup container styles */
.popup-container {
  position: relative;
  margin: 20px auto;
  text-align: center;
}

/* Button to open popup */
.open-popup-btn {
  background-color: #000080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Popup overlay styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  max-width: 80%;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  display: none;
}

.popup h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="file"] {
  width: calc(100% - 22px); /* Adjust for input padding */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup button[type="submit"] {
  background-color: #000080;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    margin-top: 23px;
}

/* Close button */
.close-popup-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.download-template {
  margin-top: 20px;
}

.download-btn {
  background-color: #000080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

/* Tooltip styles */
.download-btn:hover::after {
  content: attr(matTooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1200;
}





/* Show popup and overlay on button click */
.open-popup-btn:hover,
.popup-overlay,
.popup {
  display: block;
}
