<div class="container">
    <div class="table-container">
        <header class="header">
            <h1>List of All Teacher</h1>
          </header>
        <div class="table-responsive">
            <table class="styled-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Subject</th>
                  <th>Symbol</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="ID">TR0001</td>
                  <td data-label="Name">Priyank</td>
                  <td data-label="Weight">English</td>
                  <td data-label="Symbol">EN</td>
                  <td data-label="Actions">
                    <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i>
                  </td>
                </tr>
                <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="ID">TR0001</td>
                    <td data-label="Name">Priyank</td>
                    <td data-label="Weight">English</td>
                    <td data-label="Symbol">EN</td>
                    <td data-label="Actions">
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  
              </tbody>
            </table>
          </div>
    </div>
    
</div>