<div class="container">
  <div class="table-container">
    <header class="header">
      <h1>List of All Teacher</h1>
    </header>
    <div class="table-responsive">
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Graduation Complete</th>
            <th>Previous School</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers" [ngClass]="{'highlight-row': teacher.subject === 'English'}">
            <td data-label="ID">{{teacher.teacher_id}}</td>
            <td data-label="Name">{{teacher.teacher_name}}</td>
            <td data-label="Subject">{{teacher.subject}}</td>
            <td data-label="Graduation Complete">
              <mat-slide-toggle [(ngModel)]="teacher.graduation_complete">
              </mat-slide-toggle>
            </td>
            <td data-label="Previous School">{{teacher.previous_school_name}}</td>
            <td data-label="Actions">
              <i class="fa-solid fa-pen"></i>
              <i class="fa-solid fa-trash"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>